{% extends 'base.html.twig' %}

{% block body %}
    <div class="sub-heading">
        <h2>Composer ⚡</h2>
    </div>

    {% for composerKey in ['require','require-dev'] %}
        <h3>{{ composerKey }}</h3>
        <table {{ stimulus_controller('@survos/simple-datatables/sdt') }}>
            <thead>
            <tr>
                <th>Package</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% set data = composerData[composerKey] %}
            {% for key, value in data  %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endfor %}
{% endblock %}
